
.cabecalho {
    margin: 1rem;
    
}

.lista-cabecalho {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem; 
    background-color: var(--fundo-secundario);
    padding: .5rem ;
    border-radius: 16px;
}

.item-link {
    text-decoration: none;
    color: var(--texto-cabecalho);
    font-size: 18px;
    transition: .5s;
}

.item-link:hover {
    color: var(--hover-texto);
}

@media  (max-width:1024px) {
    
   .lista-cabecalho {
    display: none;
   }

    
}