.rodape {
    background-color: var(--fundo-secundario);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.radape-titulo {
    font-size: 16px;
    color: var(--texto-cabecalho);
    
}

@media  (max-width:1024px) {
    
    .rodape {
        padding: 2rem 13rem;
        white-space: nowrap;
    }
 }

 @media  (max-width:620px) {
    
    .rodape {
        padding: 2rem 9rem;
        white-space: nowrap;
    }
 }
